/*.home-wrapper{
  width: 95vw;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-container{
  width: 90%;
  height: 40vh;
  border: 1px solid red;
}*/
