@import url('https://fonts.googleapis.com/css?family=Anton|Bree+Serif');
body{
  /*position: relative;*/
  margin: 0;
  box-sizing: border-box;
  background-color: #121314;
  /*color: #FFFFFF; bright*/
  color: #59595C; faded
  /*hover:#DFE0E6*/
}
main{
  display: flex;
}
img{
  max-width: 100%;
  max-height: 100%;
}
h1{
  color: #FFFFFF;
  font-family: Bree Serif;
}
h2{
  font-family: Bree Serif;
}
button{
  font-family: Bree Serif;
}
span{
  font-family: Bree Serif;
}
p{
  font-family: Bree Serif;
}
.hand{
  cursor: pointer;
  cursor: hand;
}
.menu-placeholder{
  height: 950px;
  width: 85px;
}
/*.midi-index{
  z-index: 10;
}
.menu-index{
  z-index: 9;
}*/
/*.midi-page{
  width: 95.54688vw;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}*/
