.login-wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #121314;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.login-test{
  /*border: 1px solid red;*/
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: auto;
}
.create-wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #121314;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.login-btn{
  color: #59595C;
}
.login-btn:hover{
  color: #DFE0E6;
}
