.material-icons.md-48 {
  font-size: 36px;
}
.menu-txt{
  font-size: 13px;
}
#setting-wheel{
  padding-bottom: 5px;
}
.material-icons.md-24 {
  font-size: 19px;
}
.menu-wrapper{
  height: 950px;
  width: 85px;
  background-color: #1C1C1F;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /*border: 1px solid red;*/
}
.menu-btn:hover{
  color: #DFE0E6;
}
.btn-green{
  border-left: 2px solid green;
}
.menu-btn{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.setting-option{
  padding: 5px 20px;
}
.setting-option:hover{
  color: #DFE0E6;
}
.setting-user{
  width: 100%;
  background-color: #1C1C1F;
  border-radius: inherit;
}

.img-wrapper{
  text-align: center;
  /*border: 1px solid red;*/
}
.menu-btn-container{
  margin: 0;
  width: 100%;
  height: 470px;
  font-size: 19px;
  /*border: 1px solid green;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.setting{
  /*display: none;*/
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.setting-pop{
  /*color: #59595C;*/
  display: none;
  position: absolute;
  bottom: 1px;
  left: 1px;
  height: auto;
  width: auto;
  border: 1.5px solid rgba(129, 129, 129,.9);
  border-radius: 10px;
  background-color: #121314;
}
.current-menu{
  color: #DFE0E6;
}
