.search-wrapper{
  float: right;
  width: calc(100vw - 85px);
  height: 100%;
  background-color: #121314;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display-button{
  color: #59595C;
  height: 3vh;
  width: 90%;
}
.search-btn{
  float:right;
}
.fav-btn{
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
  color: rgb(140, 148, 255);
  z-index: 7;
}
.fav-btn:hover{
  color: rgb(73, 85, 251);
}
.green{
  color: green;
}
.artist-card{
  position: relative;
  color: #FFFFFF;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-left: 150px;
}
.artist-img-wrapper{
  max-width: 100%;
  max-height: 100%;
}
.search-btn:hover{
  color: #DFE0E6;
}
.artist-img{
  height: 400px;
  width: 400px;
  border-radius: 3px;
  border-top: 20px solid #121314;
  position: relative;
}
.audio-play{
  /*border-radius: px;*/
  color:#1C1C1F;
  background-color: #1C1C1F;
}

@media(max-width: 1733px) {
  .artist-card{
    padding-left: 250px;
  }
}
@media(max-width: 1384px) {
  .artist-card{
    padding-left: 100px;
  }
}
