<div class="create-wrapper">
  <h1>Create Account</h1>
    <span>UserName <span style="color: red;">*</span></span><input ng-model='newUserName' type="text" placeholder="User Name...">
    <span>Password <span style="color: red;">*</span></span><input ng-model='newUserPassword' type="text" placeholder="Password...">
    <span>Confim Password <span style="color: red;">*</span></span><input ng-model='confirmUserPassword' type="text" placeholder="Password...">
    <br>
    <button class="hand" type="button" ng-click='createUser(newUserName,newUserPassword,confirmUserPassword)'>Create Account</button>
</div>
