<div class="favorites-wrapper">
  
<div class="fav-header">
<h1 class="fav-user">{{currentUser.userName}}</h1>
<h1 ng-click='displayFav("artists")'class="hand selected">view artists</h1>
<h1 ng-click='displayFav("albums")'class="hand selected">view albums</h1>
<h1 ng-click='displayFav("tracks")'class="hand selected">view songs</h1>
</div>

<span class="result-wrapper">

  <div ng-if='!displayBoxBool'class="display-box">
    <div class="artist-card" ng-repeat='obj in arrayObj | filter: searchTxtArtist.name | filter: searchTxtAlbum | filter: searchTxtSong'>
      <i  class="material-icons md-neg neg-btn hand" ng-click='disLiked(obj)'>remove</i>
        <div class="artist-img-wrapper">
          <img ng-if='artistsBool || albumsBool' class="artist-img" ng-src="{{obj.images[0].url}}" alt="Image of {{obj.name}}">
          <img ng-if='tracksBool' class="artist-img" ng-src="{{obj.album.images[0].url}}" alt="Image of {{obj.name}}">
        </div>
        <h2 ng-if='artistsBool'>{{obj.name}}</h2>
        <p ng-if='albumsBool || tracksBool'>{{obj.name}} <span style="color: gray; font-family: Bree Serif;">by</span> {{obj.artists[0].name}}</p>
        <audio ng-if='tracksBool' controls="controls">
          <source ng-src="{{trustSrc(obj.preview_url)}}" type="audio/mp3">
        </audio>
      </div>
    </div>

</span>

</div>
