<!-- <menu-directive></menu-directive>
<div class="favorites-wrapper">
<div class="fav-header">
  <h1 id="btn-fav-artists"class="hand">view artists</h1><h1 id="btn-fav-albums"class="hand">view albums</h1><h1 id="btn-fav-tracks" class="hand">view songs</h1>
</div>
<span class="result-wrapper">
<div id="display-fav-artists"class="display-box">
    <div class="artist-card" ng-repeat='obj in listArtists'>
      <div class="artist-img-wrapper">
        <img class="artist-img" ng-src="{{obj.images[0].url}}" alt="Image of {{obj.name}}">
      </div>
    <h2>{{obj.name}}</h2>
  </div>
</div>
</span>
</div> -->
