<!-- <menu-directive></menu-directive>
***********************************************************************keycode***************************************************
<div>
        <input type="text" ng-keydown="keydownevt()" ng-keyup="keyupevt()" ng-keypress="keypressevt()" />
        <br /> Keydown KeyCode : <strong> {{keydownkeycode}} </strong><br /> Keyup KeyCode : <strong> {{keyupkeycode}} </strong><br /> Keypress KeyCode : <strong> {{keypresskeycode}} </strong><br />
    </div>
***********************************************************************keycode***************************************************
<div class="home-wrapper">
  <h1>SPOTIFY CLONE</h1>
  <div class="home-container">
  </div>
  <div class="home-container">
  </div>
  <div class="home-container">
  </div>
  <div class="home-container">
  </div>
  <div class="home-container">
  </div>
</div> -->
