<menu-directive></menu-directive>
<div class="login-wrapper">
  <span class='login-test'>
    <h1>LOGIN</h1>
    <input ng-model='userName' type="text" placeholder="username">
    <br>
    <input ng-model='userPassword' type="text" placeholder="password">
    <br>
    <button class="hand" ng-click='login(userName, userPassword)' type="button">Submit</button>
    <p ui-sref='createAcct' class="hand login-btn">Create an Account</p>
    <span ui-sref='search' class="hand login-btn">Continue without Account</span>
  </span>
</div>
<!-- ui-sref='home'  -->
