<div class="midi-wrapper">
  <div class="midi-controller">
      <div class='midi-btn' ng-click="playAudio('./audio/catDrum_loop.wav')" type="button">catDrum_loop</div>
      <div class='midi-btn' ng-click="playAudio('./audio/chip.wav')" type="button">chip</div>
      <div class='midi-btn' ng-click="playAudio('./audio/caw.wav')" type="button">caw</div>
      <div class='midi-btn' ng-click="playAudio('./audio/rap_clap.wav')" type="button">rap_clap</div>
      <div class='midi-btn' ng-click="playAudio('./audio/nice_clap.wav')" type="button">nice_clap</div>
  </div>
  <div class="midi-controller">
      <div class='midi-btn' ng-click="playAudio('./audio/wob_loop.wav')" type="button">wob_loop</div>
      <div class='midi-btn' ng-click="playAudio('./audio/funk_dubstep_loop.wav')" type="button">funk_loop</div>
      <div class='midi-btn' ng-click="playAudio('./audio/wob.wav')" type="button">wob</div>
      <div class='midi-btn' ng-click="playAudio('./audio/nice_ijah.wav')" type="button">nice_ijah</div>
      <div class='midi-btn' ng-click="playAudio('./audio/nice_pluck.wav')" type="button">nice_pluck</div>
  </div>
  <div class="midi-controller">
      <div class='midi-btn' ng-click="playAudio('./audio/drum_loop.wav')" type="button">drum_loop</div>
      <div class='midi-btn' ng-click="playAudio('./audio/80_loop.wav')" type="button">80_loop</div>
      <div class='midi-btn' ng-click="playAudio('./audio/bass_kick.wav')" type="button">bass_kick</div>
      <div class='midi-btn' ng-click="playAudio('./audio/bass.wav')" type="button">bass</div>
      <div class='midi-btn' ng-click="playAudio('./audio/nice_kick.wav')" type="button">nice_kick</div>

  </div>
  <div class="midi-controller">
      <div class='midi-btn' ng-click="playAudio('./audio/heavy_snare.wav')" type="button">heavy_snare</div>
  </div>
</div>
